.App {
  margin: 30px;
  padding: 100px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

ul {
  height: 500px;
  overflow:hidden; 
  overflow-y:scroll;
  list-style: none;
}

li {
  margin: 0 15px 15px 0;
  padding: 15px;
  background-color: #d3d4d3;
}

li:hover {
  background-color: #6fdd72;
}

@media (max-width: 650px) {
  .App {
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}